.model {
    color: whitesmoke;
}

.modelinfo {
    background: rgba(0, 0, 0, 0.604);
    border-radius: 15px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 100px;
}

.model>section>div div {
    font-size: 25px;
    text-align: center;
}

.model button {
    font-size: 20px;
    color: white;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    background: none;
    padding: 10px 50px;
    transition: 0.5s;
}

.model button:hover {
    color: black;
    background: whitesmoke;
    transition: 0.5s;
}

.modelinfo2 {
    background: black;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

@media screen and (max-width:1120px) {
    .model {}

    .modelinfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 5px;
        gap: 10px;
    }

    .modelinfo2 {
        height: 160vh;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 2fr 1fr;
    }
}