.error {
    height: 90vh;
    display: grid;
    place-content: center;
}

.error>div {
    text-align: center;
    display: grid;
    gap: 30px;
}

.errorfooter {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.error a {
    font-size: 18px;
    color: rgb(77, 77, 77);
    text-decoration: underline rgb(77, 77, 77);
    transition: 0.5s;
}

.error a:hover {
    text-decoration: 5px underline rgb(77, 77, 77);
    transition: 0.5s;
}

@media screen and (max-width:1030px) {
    .error {
        height: auto;
    }

    .errorfooter {
        flex-direction: column;
    }

    .error h1 {
        margin-top: 15vh
    }
}